body,
html {
    margin: 0;
    height: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.bckgrnd-video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: -10;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#a-active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
    padding-bottom: 2px;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.281);
    height: 100%;
}

a:hover {
    color: #ffffff;
}

.section-1 {
    color: #ffffff;
}

.inner-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.sub-heading {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.heading-tag {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0;
    margin-top: 0;
}

.s1-heading {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 100;
}

.section-content {
    padding: 5%;
}

.para {
    font-family: 'Work Sans', sans-serif;
    color: #363636;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.common-sec-img {
    width: 100%;
}

.common-sec-img1 {
    width: 100%;
    padding: 0%;
    padding-top: 19%;
}

@media only screen and (max-width: 999px) {

    .section-container {
        padding: auto;
    }

    .s1-heading {
        font-size: 60px;
    }

    .s1-tag {
        font-size: 40px;
    }

    .footer {
        line-height: 27px;
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .git-content {
        font-size: 13px;
    }

    .common-content {
        display: block;
    }

    .common-heading {
        font-weight: 200;
    }

    .common-sec-img {
        padding-top: 5%;

    }
}

@media only screen and (min-width: 999px) {
    .section-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .s1-heading {
        font-size: 84px;
    }

    .s1-tag {
        font-size: 57px;
    }

    .common-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .common-heading {
        font-weight: 200;
        font-size: 40px;
    }

    .s2-content {
        /* width: 100%; */
        padding: 10%;
        padding-left: 0;
    }

    .common-tag {
        font-size: 36px;
    }

    .s4-div {

        font-size: 16px;
    }

}

@media only screen and (min-width:1250px) {

    .nav-ul {
        font-size: 17px;
    }
}

@media only screen and (max-width: 700px) {

    .header {
        justify-content: space-evenly;
    }

    .nav-bar {
        padding-left: 1%;
    }

    .nav-item {
        padding: 0;
        margin: 1%;
    }

}

@media only screen and (max-width: 535px) {

    .header {
        justify-content: space-between;
    }

    .s1-heading {
        font-size: 200%;
    }

    .s1-tag {
        font-size: 160%;
    }


    .section-1 {
        height: 60%;
    }

    .nav-sm {
        display: none;
    }
}
