body,
html {
    margin: 0;
    height: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.bckgrnd-video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: -10;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#a-active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
    padding-bottom: 2px;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.281);
    height: 100%;
}

a:hover {
    color: #ffffff;
}

.section-1 {
    color: #ffffff;
}

.inner-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.sub-heading {
    font-family: 'Bitter', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.heading-tag {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0;
    margin-top: 0;
}

.s1-heading {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 100;
}

/***** header *****/

.header {
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    width: 60px;
    height: 60px;
    padding: 0 10px 0 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.disc-text {
    font-size: 26px;
    font-family: 'PT Serif', serif;
}

.tag-text {
    padding: 1px;
    padding-top: 0;
    font-size: 9px;
    letter-spacing: 2.5px;
}

/***** nav bar  *****/

.nav-bar {
    padding-left: 5%;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.nav-a {
    cursor: pointer;
}

.nav-a:visited,
.nav-a:link {
    color: #ffffff;
    text-decoration: none;
}

.nav-item {
    padding: 0 1rem;
}

.nav-list:hover {
    text-decoration: underline;
}

/***** dropdown *****/

.drpdwn-a {
    color: white;
    padding: 0;
    text-decoration: none;
    display: block;
}

.a-div {
    padding: 10px 30px;
    margin: 10px;
}

.drpdwn-a:hover {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
    padding-bottom: 2px;
}

.drpdwn-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown {
    display: block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    z-index: 1;
}

.menu-btn {
    height: 40px;
    width: 40px;
}

.show {
    display: block;
}

/***** footer *****/

.footer {
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #161f1e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}

.footer-ul {
    list-style-type: none;
}

.git-content {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.mail {
    color: #ffffff;
}

.para {
    font-family: 'Work Sans', sans-serif;
    color: #494949;
    font-weight: 500;
    letter-spacing: 0.5px;
}


@media only screen and (max-width: 999px) {

    .section-container {
        padding: auto;
    }

    .s1-heading {
        font-size: 60px;
    }

    .s1-tag {
        font-size: 40px;
    }

    .footer {
        line-height: 27px;
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .git-content {
        font-size: 13px;
    }
}

@media only screen and (min-width: 999px) {
    .section-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .s1-heading {
        font-size: 84px;
    }

    .s1-tag {
        font-size: 57px;
    }

}

@media only screen and (min-width:1250px) {

    .nav-ul {
        font-size: 17px;
    }
}

@media only screen and (max-width: 700px) {

    .header {
        justify-content: space-evenly;
    }

    .nav-bar {
        padding-left: 1%;
    }

    .nav-item {
        padding: 0;
        margin: 1%;
    }

}

@media only screen and (max-width: 535px) {

    .header{
        justify-content: space-between;
    }

    .nav-sm {
        display:none;
    }
}