body,
html {
    margin: 0;
    height: 100%;
}

.bckgrnd-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -10;
}

a:hover{
    color: #ffffff;
}


.overlay {
    background-color: rgba(1, 1, 1, 0.281);
    height: 100%;
}

.section-1 {
    color: #ffffff;
    color: white;
}

.section-container {
    padding-left: 10%;
    padding-right: 10%;
}


.inner-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 170px;
}

.sub-heading {
    font-family: 'Bitter', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.heading-tag {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0;
    margin-top: 0;
}

.s1-heading {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 100;
    font-size: 84px;
}

.s1-tag {
    font-size: 57px;
}

/***** header *****/

.header {
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    width: 90px;
    height: 90px;
    padding: 0 10px 0 10px;
}

.disc-text {
    font-size: 30px;
    font-family: 'PT Serif', serif;
}

.tag-text {
    font-size: 11px;
    letter-spacing: 3px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

/***** nav bar  *****/

.nav-bar {
    padding-left: 5%;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.nav-a {
    cursor: pointer;
}

.nav-a:visited, .nav-a:link {
    color: #ffffff;
    text-decoration: none;
}

.nav-item {
    padding: 0 1.5rem;
}


.nav-list:hover {
    text-decoration: underline;
}


/***** dropdown *****/

.drpdwn-a {
    color: white;
    /* padding: 12px 16px; */
    padding: 0;
    text-decoration: none;
    display: block;
}

.a-div {
    padding: 10px 50px;
    margin: 10px;
}



.drpdwn-a:hover {
    border-bottom-style: solid ;
    border-bottom-width: 1px;
    width: fit-content;
    padding-bottom: 2px;
}

.drpdwn-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown {
    display: block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    z-index: 1;
}

.menu-btn {
    height: 40px;
    width: 40px;
}

.show {
    display: block;
}

/***** footer *****/

.footer {
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #161f1e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}

.footer-ul {
    list-style-type: none;
}

.git-content {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.mail {
    color: #ffffff;
}


.para {
    font-family: 'Work Sans', sans-serif;
    color: #494949;
    font-weight: 500;
    letter-spacing: 0.5px;
}