.section-1 {
    height: 100%;
}

/* section-2 */
.section-2 {
    background-color: #fff;
    padding: 10%;
}

.s2-para-content {
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    padding: 0 70px;
    text-align: center;
}

/* section-3 */
.section-3 {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10%;
}

.s3-head {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 200;
}

.s3-para {
    font-family: 'Work Sans', sans-serif;
    color: #1f1f1f;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.9;
    padding-bottom: 10%;
}

.content {
    padding: 10%;
    padding-left: 0;
}

.s3-image {
    width: 100%;
    height: 100%;
}

/* section-4 */

.section-4 {
    width: 100%;
    background-color: #f3f3f3;
    padding: 5% 0;
    overflow: hidden;
    height: 420%;
}

.s4-container {
    padding: 5% 0;
}

.bg-image-1 {
    position: absolute;
    z-index: 1;
    width: 60%;
    margin-left: 22%;
    margin-top: 30%;
}

.main-image-1 {
    position: absolute;
    z-index: 2;
    object-fit: cover;
    width: 78%;
}

.top-content-1 {
    position: absolute;
    background-color: #fff;
    z-index: 3;
    width: 35%;
    padding: 7% 6%;
    margin-left: 55%;
    margin-top: 10%;
}

.bg-image-2 {
    position: absolute;
    z-index: 1;
    width: 60%;
    margin-left: 18.5%;
    margin-top: 87%;
}

.main-image-2 {
    position: absolute;
    z-index: 2;
    object-fit: cover;
    width: 78%;
    margin-top: 57%;
    margin-left: 22%;
}

.top-content-2 {
    position: absolute;
    background-color: #fff;
    z-index: 3;
    width: 35%;
    padding: 7% 6%;
    margin-top: 66%;
    margin-left: 8%;
}

.bg-image-3 {
    position: absolute;
    z-index: 1;
    width: 60%;
    margin-left: 22%;
    margin-top: 145%;
}

.main-image-3 {
    position: absolute;
    z-index: 2;
    object-fit: cover;
    width: 78%;
    margin-top: 115%;
}

.top-content-3 {
    position: absolute;
    background-color: #fff;
    z-index: 3;
    width: 35%;
    padding: 7% 6%;
    margin-top: 125%;
    margin-left: 55%;
}

.sec-a {
    color: #333333;
    text-decoration: none;
    border: 1px solid #444343;
    padding: 5% 20%;
}

.sec-a:hover {
    text-decoration: none;
    background-color: #dadada9c;
    color: #000;
}

/* section-5 */
.section-5 {
    position: relative;
}

.sec-5-img {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.sec-img {
    width: 100%;
    height: 100%;
}

.sec-text-center {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 9;
    text-align: center;
}

.sec-5-a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding:10% 30%;
}

.sec-5-a:hover {
    text-decoration: none;
    background-color: #4949493d;
}

.overlay-sec-5 {
    background-color: rgba(1, 1, 1, 0.281);
    height: 100%;
}
