.section-1 {
    background-image: url(../images/gallery/gallery.jpg);
    height: 60%;
    background-position: 0%;
    background-size: cover;

}

.s1-heading {
    font-size: 60px ;
}

.box-section-container {
    font-family: 'Arapey', serif;
    font-size: 25px;
}

p {
    padding: 20px 0;
}

.box {
    background-color: #111111;
    float: left;
    width: 33.33%;
    text-decoration: none;
    text-align: center;
    color:#fff;
    padding: 0;
    margin: 0;
}

.image {
    width: auto;
    height: 300px;
}

