/***** section-1 *****/

.section-1 {
    height: 100%;
}

/***** section-2 *****/

.section-2 {
    background-image: url(../images/home/second-bckgrd.jpg);
    background-size: cover;
    text-align: justify;
}

.s2-img {
    width: 100%;
    /* padding: 10%; */
}

.s2-img1 {
    width: 100%;
    padding: 0%;
}

.section-content {
    padding: 5%;
}

/**** section-3 ****/

.section-3 {
    background-color: #ffffff;
    padding-top: 5%;
}

.s3-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.s3-content {
    display: flex;
    flex-direction: column;
}

#s3-images {
    overflow: hidden;
    height: 500px;
    position: relative;
    /* overflow: auto;
    display: flex;
    flex-direction: row; */
}

.inner-images{
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: display 60s linear infinite;
}

.s3-img {
    margin: 0 0.5em;
}

@keyframes display {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}


.s3-head {
    padding-bottom: 10px;
}

.s3-tag {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    font-weight: 500;
    letter-spacing: 0px;
}

.btn-arrow:hover {
    background-color: #f8f5f5;
}

.img-section-container {
    position: relative;
    text-align: left;
    color: #fff;
}

/***** section-4  ****/

.section-4 {
    background-color: #f3f3f3;
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 7%;
}

.s4-a-tag:link,
.s4-a-tag:visited {
    color: #000;
    text-decoration: none;
}

.a-section-container {
    display: flex;
    flex-direction: row;
}

.s4-a-tag:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    padding-bottom: 2px;
}

.s4-div {
    padding: 10px 30px 10px 0px;
}

.bg-img {
    background-image: url(../images/globe-usa.jpg);
    height: 100%;
    position: fixed;
}

@media only screen and (max-width:999px) {
    .content {
        display: block;
    }

    .s2-heading {
        font-weight: 600;
    }

    .s2-img {
        /* padding: 5%; */
        padding-top: 5%;

    }

    .btn-img {
        width: 15px;
        height: 17px;
    }

    .btn-arrow {
        margin: 6px;
        padding: 10px;
        border-radius: 100%;
        background-color: #fff;
        border: none;
        box-shadow: 3px 5px 8px #9e9e9e
    }

    .s3-img {
        padding: 0 10px;
        width: 250px;
        height: 350px;
    }

    .bottom-left {
        padding-left: 10px;
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    .s3-head {
        font-size: x-large;
    }

    .s3-tag {
        font-size: small;
    }

}

@media only screen and (min-width:999px) {

    .content {
        display: flex;
        flex-direction: row;
    }

    .s2-heading {
        font-weight: 600;
        font-size: 40px;
    }

    .s2-content {
        padding: 10%;
        padding-left: 0;
    }

    .s2-tag {
        font-size: 36px;
    }

    .btn-img {
        width: 20px;
        height: 22px;
    }

    .btn-arrow {
        margin: 10px;
        padding: 18px;
        border-radius: 100%;
        background-color: #fff;
        border: none;
        box-shadow: 3px 5px 8px #9e9e9e
    }

    .s3-img {
        padding: 0 10px;
        width: 300px;
        height: 400px;
    }


    .bottom-left {
        padding-left: 30px;
        position: absolute;
        bottom: 30px;
        left: 16px;
    }

    .s4-div {
        
        font-size: 16px;
    }

}