/***** section-1 *****/

.section-1 {
    height: 100%;
}

/***** section-2 *****/

.section-2 {
    background-image: url(../images/home/second-bckgrd.jpg);
    background-size: cover;
    text-align: justify;
}

/***** section-4  ****/

.section-4 {
    background-color: #f3f3f3;
    background-size: cover;
    padding-top: 7%;
}

.s4-a-tag:link,
.s4-a-tag:visited {
    color: #000;
    text-decoration: none;
}

.a-section-container {
    display: flex;
    flex-direction: row;
}

.s4-a-tag:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    padding-bottom: 2px;
}

.s4-div {
    padding: 10px 30px 10px 0px;
}

.bg-img {
    background-image: url(../images/globe-usa.jpg);
    height: 100%;
    position: fixed;
}

.s4-link-content {
    background-color: #f3f3f3;
    position: relative;
}

.link-img {
    width: 70%;
}

.middle-container {
    background-color: #161f1e;
    width: 50%;
    height: 600px;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-container {
    padding-bottom: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-arrow,
.right-arrow {
    color: #fff;
    font-size: 300%;
    border: none;
    margin-right: 5%;
}

.left-arrow:hover,
.right-arrow:hover {
    cursor: pointer;
}

.sun {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.s4-inner-image {
    width: 43%;
    height: 90%;
    position: absolute;
    top: -9%;
    z-index: 10;
    right: 2%;
}

.s4-para-tag,
.sun {
    color: #6b6b6b;
    font-family: 'Public Sans', sans-serif;
}

.s4-para-tag {
    padding-top: 10%;

}

.icon-text {
    font-size: 80%;
    color: #6b6b6b;
    padding: 5px;
}

.first-box {
    padding: 7%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.second-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.s4-text {
    color: #fff;
    font-size: 290%;
    width: 80%;
    font-family: 'Nanum Myeongjo', serif;
}

.loca-div {
    display: flex;
    flex-direction: row;
    color: #6b6b6b;
    font-family: 'Public Sans', sans-serif;

}

.loca-pin {
    width: 30px;
    height: 30px;
}


.s5-img {
    width: 100%;
    height: 800px;
}