.section-1 {
    width: 100%;
    height: 100%;
}

.bg-img-press {
    position: fixed;
    z-index: -10;
}

.section-2 {
    background-color: #f3f3f3;
    position: relative;
    height: 110%;
    padding: 10% 5%;
    padding-bottom: 0;
}

.s2-img {
    position: absolute;
    height: 90%;
    width: 70%;
}

.s2-head {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 200;
}

.top-container {
    position: absolute;
    background-color: #fff;
    z-index: 3;
    width: 440px;
    height: 580px;
    padding: 5% 5%;
    margin-top: 6%;
    margin-left: 55%;
}

.s2-para {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    color: #1f1f1f;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 1.9;
}

.s2-p {
    padding-bottom: 5%;
}

.sec-a {
    color: #333333;
    text-decoration: none;
    border: 1px solid #444343;
    padding: 5% 10%;
    margin-top: 5%;
}

.sec-a:hover {
    text-decoration: none;
    background-color: #dadada9c;
    color: #000;
}

.section-2-btns {
    background-color: #f3f3f3;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-2-btns p {
    padding: 10px;
    margin: 0;
}

.s2-btn {
    width: 25px;
    height: 25px;
    border: none;
    margin: 0 20px;
}

/* section-3 */

.section-3 {
    background-color: #fff;
    height: 150%;
    padding: 5%;
}

.s3-content {
    padding: 5% 0;
    padding-bottom: 0;
}


.s3-head {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
}

.s3-para {
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    color: #1f1f1f;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 1.9;
    padding-bottom: 5%;
}

.left-para {
    padding-right: 5%;
}

.right-para {
    padding-left: 5%;
}

.s3-inner-cols {
    padding-bottom: 10%;
}